* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", sans-serif;
}
.heart{
    position: absolute;
    z-index: 1;
}
#left-heart1{
    width:10%;
    height:10%;
    margin-top:100;
    margin-left:60;
}
#left-heart2{
    width:13%;
    height:13%;
    margin-top:60;
    margin-left:30;
}
#left-heart3{
    width:16%;
    height:16%;
    margin-top:10;
    margin-left:40;
}
#right-heart1{
    width:10%;
    height:10%;
    margin-top:100;
    margin-left:210;
}
#right-heart2{
    width:13%;
    height:13%;
    margin-top:60;
    margin-left:240;
}
#right-heart3{
    width:16%;
    height:16%;
    margin-top:10;
    margin-left:215;
}
.beard{
    position:absolute;
    z-index: 1;
}
#downbeard{
    width:50%;
    margin-top:203;
    margin-left:60;
}
#upbeard{
    width:50%;
    margin-top:190;
    margin-left:60;
}

.star{
    position:absolute;
    z-index: 1;
}
#leftstar{
    width:25%;
    margin-left:80;
    margin-top:120;
}
#rightstar{
    width:25%;
    margin-left:150;
    margin-top:120;
}

#hat{
    position:absolute;
    z-index:1;
    width:96%;
    margin-left:4;
}
#block{
    position:absolute;
    z-index:1;
    background-color:black;
    margin-left: 75;
    margin-top:130;
    width:47%;
    height:10%;
}
#bubble{
    position:absolute;
    z-index: 1;
    width:40%;
    margin-left:140;
    margin-top:100;
}
#lip{
    position:absolute;
    z-index: 1;
    width:7%;
    margin-left:142;
    margin-top:187;
}
.body_medium{
    float: left;
    width: 80%;
    margin-top: 20px;
}

.body_blank{
    float: left;
    width: 10%;
    height: 100%;
}
.header{
    
}

#logo{
    float: left;
    width: 50px;
}

#lines{
    float: right;    
}

.ui.circular.icon.button {
    float:right;
    width: 30px;
    height: 30px;
}

.iconi {
    width: 40px;
    height: auto;
    margin-left: -17px;
    margin-top: -17px;
}

.ui.image{
    width: 60px;
    height: 60px;
}

.about{
    float: none;
    margin-top: 50px;
    margin-left: 70px;
}

.profile{
    margin-left: 60px;
    text-align: center;
}

.profile_item{
    float: left;
    width: 300px;
    height: 400px;
    margin: 10px;
}

#title{
    letter-spacing: 1px;
    margin-bottom: 0px;
}

#decorate_line{
    height: 40px;
    width: 2px;
    background-color: lightgrey;
        
}

#description{
    line-height: 30px;
    color: darkgray;
    letter-spacing: 1px;
}
@media only screen and (max-width:1540px)and (min-width: 1490px){
    .body_medium{
        width:90%;    
    }
    .body_blank{
        width: 5%;
    }
    .profile{
        display: inline-block;
        width: 1280px;
        float: none;
        margin-left: 50px;
    }
    #logo{
        margin-left: 20px;
    }
    #lines{
        margin-right: 20px;
    }
}

@media only screen and (max-width:1489px) and (min-width: 1400px) {
  /* For mobile phones: */
    .body_medium{
        width:100%;
        margin-top: 20px;
        text-align: center;
    }
    .body_blank{
        width: 0%;
    }
    .profile{
        display: inline-block;
        width: 1280px;
        float: none;
        margin: 0;
    }
    #logo{
        margin-left: 20px;
    }
    #lines{
        margin-right: 20px;
    }
    .about{
        text-align: center;
        margin-left: 0px;
    }
    #decorate_line{
        height: 2px;
        visibility: hidden;
    }
}

@media only screen and (max-width:1399px) and (min-width: 1080px) {
  /* For mobile phones: */
    .body_medium{
        width:100%;
        margin-top: 20px;
        text-align: center;
    }
    .body_blank{
        width: 0%;
    }
    .profile{
        display: inline-block;
        width: 960px;
        float: none;
        margin: 0;
    }
    #logo{
        margin-left: 20px;
    }
    #lines{
        margin-right: 20px;
    }
    .about{
        text-align: center;
        margin-left: 0px;
    }
    #decorate_line{
        height: 2px;
        visibility: hidden;
    }
}
@media only screen and (max-width:1079px) and (min-width: 680px) {
  /* For mobile phones: */
    .body_medium{
        width:100%;
        margin-top: 20px;
        text-align: center;
    }
    .body_blank{
        width: 0%;
    }
    .profile{
        display: inline-block;
        width: 640px;
        float: none;
        margin: 0;
    }
    #logo{
        margin-left: 20px;
    }
    #lines{
        margin-right: 20px;
    }
    .about{
        text-align: center;
        margin-left: 0px;
    }
    #decorate_line{
        height: 2px;
        visibility: hidden;
    }
}
@media only screen and (max-width:679px) and (min-width: 480px){
  /* For mobile phones: */
    .body_medium{
        width:100%;
        margin-top: 20px;
        text-align: center;
    }
    .body_blank{
        width: 0%;
    }
    .profile{
        display: inline-block;
        width: inherit;        
        padding-left: 50px;
        padding-right: 50px;
        float: none;
        margin: 0;
    }
     .profile_item{
        min-width: 200px;
        float: none;
        margin: 10 0;
        display: inline-block;
    }
    #logo{
        margin-left: 10px;
    }
    #lines{
        margin-right: 10px;
    }
    .about{
        text-align: center;
        margin-left: 0px;
    }
    #decorate_line{
        height: 2px;
        visibility: hidden;
    }
   
    
}
@media only screen and (max-width:479px) {
  /* For mobile phones: */
    .body_medium{
        width:100%;
        margin-top: 20px;
        text-align: center;
    }
    .body_blank{
        width: 0%;
    }
    .profile{
        display: inline-block;
        width: inherit;  
        float: none;
        margin: 0;
    }
     .profile_item{
        min-width: 200px;
        float: none;
        margin: 10 0;
        display: inline-block;
    }
    #logo{
        margin-left: 10px;
    }
    #lines{
        margin-right: 10px;
    }
    .about{
        text-align: center;
        margin-left: 0px;
    }
    #decorate_line{
        height: 2px;
        visibility: hidden;
    }
   
    
}

